<!DOCTYPE html>


<html lang="en">


<head>


   
    <link href=" https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="description" content="our book library">
    <meta name="keywords" content="books , programming , short stories">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>
    <link rel="icon" type="image/x-icon" href="" id="fav">
    {% load static %}


    
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

</head>
<body>


   
    {% csrf_token %}


    <div id="container">

    </div>

   



    








      <script src="{% static 'js/book.js' %}"></script>
</body>






</html>