<!DOCTYPE html>


<html lang="en">

<head>


    {% load static %}

      
    <link href=" https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="description" content="our book library">
    <meta name="keywords" content="books , programming , short stories">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/proflogo.jpeg' %}">
    <title>Profile</title>
    

    

    <title>profile </title>


    
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">


    <title>profile</title>



    
    
    
</head>


<body>
    
    {% csrf_token %}


    <div id="container">

        
    </div>



    <!-- <div class="big">

        <div class="info">
      
            <h4>Profile Status</h4>
        
           <p><span>User Name:</span> ${last_name}</p> 
           
           <p><span>User Type:</span>${user_type}</p>
      
           
           
           
           
           </div>

           <div class="del-acc">

            <button class="del-acc">Delete Account</button>

           </div>
    </div> -->


       
    <script src="{% static 'js/profile.js' %}"></script>

</body>
</html>